{
    "extends": "airbnb-base",

    "env": {
        "node": true,
        "es6": true,
        "browser": true,
        "mocha": true,
        "jquery": true
    },
    "rules":{
        "linebreak-style": 0
    }
}

