

.vscode

logs/

# Node build artifacts
node_modules
npm-debug.log
coverage/
.nyc_output/
dist/main.js

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml
dist
dist/
server/dist/