body {
    background: url(back.png);
    font-family: Tahoma, Geneva, sans-serif;
    color: #fff;
    background-size: cover;
}

.signup {
    background: rgba(44,62,80,0.7);
    padding: 40px;
    width: 250px;
    margin: auto;
    margin-top: 80px;
    height: 430px;
    margin-left: 180x;
}

form {
    width: 240px;
    text-align: center;
}

input {
    width: 240px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: 'Play', sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: #fff;
}

input[type=button] {
    border: none;
    width: 190px;
    background: #fff;
    color: #000;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 15px;
    cursor: pointer;
}

input[type=button]:hover {
    color: #fff;
    background-color: #000;
}


h2 {
    color: #fff;
}

::placeholder {
    color: aliceblue;
    opacity: 0.8;
}

@media (max-width: 600px) {
    body {
        padding: 20px 20px;
        
    }
}


/* Log In css */

body {
    background: url(back.png);
    color: #fff;
    font-family: Tahoma, Geneva, sans-serif;
    background-size: cover;
}


.signin {
    background: rgba(44,62,80,0.7);
    padding: 40px;
    width: 250px;
    margin: auto;
    margin-top: 80px;
    height: 400px;
    margin-left: 180x;
}

form {
    width: 240px;
    text-align: center;
}

input[type=text] {
    width: 240px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: 'Play', sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: #fff;
}

input[type=password] {
    width: 240px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: 'Play', sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: #fff;
}

input[type=button] {
    border: none;
    width: 190px;
    background: #fff;
    color: #000;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 15px;
    cursor: pointer;
}

input[type=button]:hover {
    color: #fff;
    background-color: #000;
}

h2 {
    color: #fff;
}

a {
    color: yellow;
    text-decoration: blink;
}

a:hover {
    color: skyblue;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

::placeholder {
    color: aliceblue;
    opacity: 0.8;
}